./logs/server.log
./logs/buy.log
./logs/monitor.log
./monitor_bot.session
./backend/instance
./backend/telegram_monitor.session
./frontend/package.json
./frontend/yarn.lock
./frontend/node_modules
./frontend/build
__pycache__/
